<center>
<h1 style="background-color: yellow">Listing Articles</h1>
<%= link_to 'New article', new_article_path %><br>
<table border="1"><br>
  <tr style="color: blue">
    <th>Title </th>
    <th> Text </th>
    <th colspan="3"></th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table><br>
<%= link_to 'New article', new_article_path %>
</center>
